body {
  background: radial-gradient(circle, #000014, #000010);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#flower-frame {
  animation: grow 3s ease-out forwards, glow 2s infinite alternate;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px #00ffff);
  }
  to {
    filter: drop-shadow(0 0 20px #00ffff);
  }
}
